In [5]:
import pandas as pd

In [6]:
fcc50_df= pd.read_csv('../data/original/fcc-broadcast-data-1950s.csv', encoding='utf-8')


fcc50_df["total_radio"]= fcc50_df["Total"]-fcc50_df["TV"]

fcc50_df

,State,AM,FM_Commercial,FM_Educational,TV,Total,total_radio
0,Alabama,71,14,1,2,88,86
1,Arizona,25,0,2,1,28,27
2,Arkansas,34,7,0,0,41,41
3,California,143,58,7,11,219,208
4,Colorado,35,3,0,0,38,38
5,Connecticut,27,11,0,1,39,38
6,Delaware,5,3,0,1,9,8
7,District of Columbia,7,8,0,4,19,15
8,Florida,75,21,1,3,100,97
9,Georgia,76,22,1,3,102,99
10,Idaho,22,3,0,0,25,25
11,Illinois,74,46,5,5,130,125
12,Indiana,45,20,6,2,73,71
13,Iowa,52,20,2,2,76,74
14,Kansas,39,6,1,0,46,46
15,Kentucky,43,12,3,2,60,58
16,Louisiana,42,16,2,1,61,60
17,Maine,16,2,0,0,18,18
18,Maryland,22,18,0,3,43,40
19,Massachusetts,51,28,2,2,83,81
20,Michigan,63,25,4,6,98,92
21,Minnesota,49,10,2,2,63,61
22,Mississippi,43,5,1,0,49,49
23,Missouri,51,15,2,2,70,68
24,Montana,25,0,0,0,25,25
25,Nebraska,22,3,0,2,27,25
26,Nevada,10,1,0,0,11,11
27,New Hampshire,12,4,0,0,16,16
28,New Jersey,20,13,2,1,36,35
29,New Mexico,25,0,1,1,27,26
30,New York,95,56,6,13,170,157
31,North Carolina,93,42,2,2,139,137
32,North Dakota,14,0,0,0,14,14
33,Ohio,69,45,6,12,132,120
34,Oklahoma,46,10,3,2,61,59
35,Oregon,43,8,2,0,53,53
36,Pennsylvania,111,63,4,7,185,178
37,Rhode Island,11,5,0,2,18,16
38,South Carolina,42,11,0,0,53,53
39,South Dakota,14,1,0,0,15,15
40,Tennessee,57,13,1,2,73,71
41,Texas,183,29,4,6,222,216
42,Utah,18,3,1,2,24,22
43,Vermont,9,0,0,0,9,9
44,Virginia,57,20,0,2,79,77
45,Washington,53,7,1,1,62,61
46,West Virginia,38,15,0,1,54,53
47,Wisconsin,55,18,6,1,80,79
48,Wyoming,13,0,0,0,13,13
49,Alaska,10,0,0,0,10,10
50,Hawaii,12,0,0,0,12,12
51,Puerto Rico,25,0,0,0,25,25
52,Virgin Islands,3,0,0,0,3,3
53,Grand totals,2295,740,82,109,3226,3117

In [7]:
def to_snake(name):
    return (
      name.strip()
          .lower()
          .replace("%", "pct") 
          .replace(" or ", "_")
          .replace("  ", " ")
          .replace(" ", "_")
    )

fcc50_df.columns=[to_snake(d) for d in fcc50_df.columns]

In [8]:
fcc50_df.sample(2)

            state  am  fm_commercial  fm_educational  tv  total  total_radio
27  New Hampshire  12              4               0   0     16           16
47      Wisconsin  55             18               6   1     80           79

In [9]:
fcc50_df.to_csv('../data/processed/fcc-broadcast-data-1950-processed.csv',index=False)

In [10]:
fcc39_df=pd.read_csv('../data/processed/1939-radio-stations.csv',encoding= 'utf-8')

In [11]:
fcc39_df.columns=[to_snake(c) for c in fcc39_df.columns]

In [12]:
fcc39_df.to_csv('../data/processed/1939-radio-stations.csv', index= False)

In [13]:
census_df=pd.read_csv ('../data/original/apportionment.csv', encoding ='utf-8')

In [14]:
census_df[census_df['Year']== 1940]

,Name,Geography Type,Year,Resident Population,Percent Change in Resident Population,Resident Population Density,Resident Population Density Rank,Number of Representatives,Change in Number of Representatives,Average Apportionment Population Per Representative
171,Alabama,State,1940,"2,832,961",7.1,55.9,23.0,9.0,0.0,"314,773"
172,Alaska,State,1940,"72,524",22.3,0.1,52.0,NaN,NaN,NaN
173,Arizona,State,1940,"499,261",14.6,4.4,47.0,2.0,1.0,"249,631"
174,Arkansas,State,1940,"1,949,387",5.1,37.5,32.0,7.0,0.0,"278,484"
175,California,State,1940,"6,907,387",21.7,44.3,30.0,23.0,3.0,"300,321"
176,Colorado,State,1940,"1,123,296",8.4,10.8,42.0,4.0,0.0,"280,824"
177,Connecticut,State,1940,"1,709,242",6.4,353,6.0,6.0,0.0,"284,874"
178,Delaware,State,1940,"266,505",11.8,136.8,12.0,1.0,0.0,"266,505"
179,District of Columbia,State,1940,"663,091",36.2,"10,861.70",1.0,NaN,NaN,NaN
180,Florida,State,1940,"1,897,414",29.2,35.4,33.0,6.0,1.0,"316,236"
181,Georgia,State,1940,"3,123,723",7.4,54.3,27.0,10.0,0.0,"312,372"
182,Hawaii,State,1940,"423,330",14.9,65.9,20.0,NaN,NaN,NaN
183,Idaho,State,1940,"524,873",17.9,6.4,46.0,2.0,0.0,"262,437"
184,Illinois,State,1940,"7,897,241",3.5,142.2,11.0,26.0,-1.0,"303,740"
185,Indiana,State,1940,"3,427,796",5.8,95.7,13.0,11.0,-1.0,"311,618"
186,Iowa,State,1940,"2,538,268",2.7,45.4,29.0,8.0,-1.0,"317,284"
187,Kansas,State,1940,"1,801,028",-4.3,22,39.0,6.0,-1.0,"300,171"
188,Kentucky,State,1940,"2,845,627",8.8,72.1,17.0,9.0,0.0,"316,181"
189,Louisiana,State,1940,"2,363,880",12.5,54.7,26.0,8.0,0.0,"295,485"
190,Maine,State,1940,"847,226",6.2,27.5,36.0,3.0,0.0,"282,409"
191,Maryland,State,1940,"1,821,244",11.6,187.6,9.0,6.0,0.0,"303,541"
192,Massachusetts,State,1940,"4,316,721",1.6,553.4,4.0,14.0,-1.0,"308,337"
193,Michigan,State,1940,"5,256,106",8.5,93,14.0,17.0,0.0,"309,183"
194,Minnesota,State,1940,"2,792,300",8.9,35.1,34.0,9.0,0.0,"310,256"
195,Mississippi,State,1940,"2,183,796",8.7,46.5,28.0,7.0,0.0,"311,971"
196,Missouri,State,1940,"3,784,664",4.3,55.1,24.0,13.0,0.0,"291,128"
197,Montana,State,1940,"559,456",4.1,3.8,49.0,2.0,0.0,"279,728"
198,Nebraska,State,1940,"1,315,834",-4.5,17.1,40.0,4.0,-1.0,"328,959"
199,Nevada,State,1940,"110,247",21.1,1,51.0,1.0,0.0,"110,247"
200,New Hampshire,State,1940,"491,524",5.6,54.9,25.0,2.0,0.0,"245,762"
201,New Jersey,State,1940,"4,160,165",2.9,565.7,3.0,14.0,0.0,"297,155"
202,New Mexico,State,1940,"531,818",25.6,4.4,47.0,2.0,1.0,"265,909"
203,New York,State,1940,"13,479,142",7.1,286,7.0,45.0,0.0,"299,536"
204,North Carolina,State,1940,"3,571,623",12.7,73.5,16.0,12.0,1.0,"297,635"
205,North Dakota,State,1940,"641,935",-5.7,9.3,43.0,2.0,0.0,"320,968"
206,Ohio,State,1940,"6,907,612",3.9,169.1,10.0,23.0,-1.0,"300,331"
207,Oklahoma,State,1940,"2,336,434",-2.5,34.1,35.0,8.0,-1.0,"292,054"
208,Oregon,State,1940,"1,089,684",14.2,11.4,41.0,4.0,1.0,"272,421"
209,Pennsylvania,State,1940,"9,900,180",2.8,221.3,8.0,33.0,-1.0,"300,005"
210,Puerto Rico,State,1940,"1,869,255",21.1,546,5.0,NaN,NaN,NaN
211,Rhode Island,State,1940,"713,346",3.8,690,2.0,2.0,0.0,"356,673"
212,South Carolina,State,1940,"1,899,804",9.3,63.2,21.0,6.0,0.0,"316,634"
213,South Dakota,State,1940,"642,961",-7.2,8.5,44.0,2.0,0.0,"321,481"
214,Tennessee,State,1940,"2,915,841",11.4,70.7,18.0,10.0,1.0,"291,584"
215,Texas,State,1940,"6,414,824",10.1,24.6,38.0,21.0,0.0,"305,468"
216,Utah,State,1940,"550,310",8.4,6.7,45.0,2.0,0.0,"275,155"
217,Vermont,State,1940,"359,231",-0.1,39,31.0,1.0,0.0,"359,231"
218,Virginia,State,1940,"2,677,773",10.6,67.8,19.0,9.0,0.0,"297,530"
219,Washington,State,1940,"1,736,191",11.1,26.1,37.0,6.0,0.0,"289,365"
220,West Virginia,State,1940,"1,901,974",10.0,79.1,15.0,6.0,0.0,"316,996"
221,Wisconsin,State,1940,"3,137,587",6.8,57.9,22.0,10.0,0.0,"313,759"
222,Wyoming,State,1940,"250,742",11.2,2.6,50.0,1.0,0.0,"250,742"
223,Midwest Region,Region,1940,"40,143,332",4.0,NaN,NaN,NaN,NaN,NaN
224,Northeast Region,Region,1940,"35,976,777",4.5,NaN,NaN,NaN,NaN,NaN
225,South Region,Region,1940,"41,665,901",10.1,NaN,NaN,NaN,NaN,NaN
226,West Region,Region,1940,"14,379,119",16.7,NaN,NaN,NaN,NaN,NaN
227,United States,Nation,1940,"132,165,129",7.3,37.2,NaN,435.0,9.0,"301,164"

In [15]:
import pandas as pd

# Load datasets
fcc = pd.read_csv('../data/processed/1939-radio-stations.csv')
apportionment = pd.read_csv('../data/original/apportionment.csv')

# Filter apportionment dataset for Year 1950 and Geography Type 'State'
ap_1940 = apportionment[(apportionment['Year'] == 1940) & (apportionment['Geography Type'].str.lower() == 'state')]

# Standardize state naming: strip whitespace and lowercase
fcc['state_key'] = fcc['state'].str.strip().str.lower()
ap_1940['state_key'] = ap_1940['Name'].str.strip().str.lower()

# Merge on state_key
merged = pd.merge(fcc, ap_1940[['state_key', 'Resident Population']], on='state_key', how='left')

# Drop helper column and rename for clarity
merged = merged.drop(columns=['state_key']).rename(columns={'Resident Population': 'Population_1940'})

# Save merged file for further use
merged.to_csv('../data/processed/merged_fcc_census_1940.csv', index=False)

/var/folders/9n/gp925nr113qgy0k5zrctqkcm0000gn/T/ipykernel_22453/4052837890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ap_1940['state_key'] = ap_1940['Name'].str.strip().str.lower()

In [16]:
radio_1950= pd.read_csv('../data/processed/merged_fcc_census_1950.csv')

radio_1950

,State,AM,FM_Commercial,FM_Educational,TV,Total,Population_1950
0,Alabama,71,14,1,2,88,"3,061,743"
1,Arizona,25,0,2,1,28,"749,587"
2,Arkansas,34,7,0,0,41,"1,909,511"
3,California,143,58,7,11,219,"10,586,223"
4,Colorado,35,3,0,0,38,"1,325,089"
5,Connecticut,27,11,0,1,39,"2,007,280"
6,Delaware,5,3,0,1,9,"318,085"
7,District of Columbia,7,8,0,4,19,"802,178"
8,Florida,75,21,1,3,100,"2,771,305"
9,Georgia,76,22,1,3,102,"3,444,578"
10,Idaho,22,3,0,0,25,"588,637"
11,Illinois,74,46,5,5,130,"8,712,176"
12,Indiana,45,20,6,2,73,"3,934,224"
13,Iowa,52,20,2,2,76,"2,621,073"
14,Kansas,39,6,1,0,46,"1,905,299"
15,Kentucky,43,12,3,2,60,"2,944,806"
16,Louisiana,42,16,2,1,61,"2,683,516"
17,Maine,16,2,0,0,18,"913,774"
18,Maryland,22,18,0,3,43,"2,343,001"
19,Massachusetts,51,28,2,2,83,"4,690,514"
20,Michigan,63,25,4,6,98,"6,371,766"
21,Minnesota,49,10,2,2,63,"2,982,483"
22,Mississippi,43,5,1,0,49,"2,178,914"
23,Missouri,51,15,2,2,70,"3,954,653"
24,Montana,25,0,0,0,25,"591,024"
25,Nebraska,22,3,0,2,27,"1,325,510"
26,Nevada,10,1,0,0,11,"160,083"
27,New Hampshire,12,4,0,0,16,"533,242"
28,New Jersey,20,13,2,1,36,"4,835,329"
29,New Mexico,25,0,1,1,27,"681,187"
30,New York,95,56,6,13,170,"14,830,192"
31,North Carolina,93,42,2,2,139,"4,061,929"
32,North Dakota,14,0,0,0,14,"619,636"
33,Ohio,69,45,6,12,132,"7,946,627"
34,Oklahoma,46,10,3,2,61,"2,233,351"
35,Oregon,43,8,2,0,53,"1,521,341"
36,Pennsylvania,111,63,4,7,185,"10,498,012"
37,Rhode Island,11,5,0,2,18,"791,896"
38,South Carolina,42,11,0,0,53,"2,117,027"
39,South Dakota,14,1,0,0,15,"652,740"
40,Tennessee,57,13,1,2,73,"3,291,718"
41,Texas,183,29,4,6,222,"7,711,194"
42,Utah,18,3,1,2,24,"688,862"
43,Vermont,9,0,0,0,9,"377,747"
44,Virginia,57,20,0,2,79,"3,318,680"
45,Washington,53,7,1,1,62,"2,378,963"
46,West Virginia,38,15,0,1,54,"2,005,552"
47,Wisconsin,55,18,6,1,80,"3,434,575"
48,Wyoming,13,0,0,0,13,"290,529"
49,Alaska,10,0,0,0,10,"128,643"
50,Hawaii,12,0,0,0,12,"499,794"
51,Puerto Rico,25,0,0,0,25,"2,210,703"
52,Virgin Islands,3,0,0,0,3,NaN
53,Grand totals,2295,740,82,109,3226,NaN

In [80]:




radio_1950=radio_1950[radio_1950['Population_1950'].notna()]

radio_1950['total_radio']=radio_1950['Total']-radio_1950['TV']

radio_1950.dtypes


radio_1950.to_csv('../data/processed/correct_dtypes_merged_fcc_census_1950.csv',index= False)

### 1940 data

In [85]:

###radio_1950['Population_1950'] = radio_1950.Population_1950.str.split(',').str.join('').astype(int)


fcc_1940= pd.read_csv('../data/processed/merged_fcc_census_1940.csv', encoding='utf-8')



fcc_1940=fcc_1940[fcc_1940['Population_1940'].notna()]


fcc_1940['Population_1940'] = fcc_1940.Population_1940.str.split(',').str.join('').astype(int)



##fcc_1940.to_csv("../data/processed/correct_dtypes_merged_fcc_census_1940.csv",index= False)

In [91]:
print(fcc_1940.dtypes)

fcc_1940.to_csv("../data/processed/correct_dtypes_merged_fcc_census_1940.csv",index= False)

state              object
total               int64
Population_1940     int64
dtype: object

In [102]:
per_cap_1940 = pd.read_csv('../data/processed/correct_dtypes_merged_fcc_census_1940.csv')

per_cap_1940['radio_per_100k']= (per_cap_1940['total']/per_cap_1940['Population_1940'])*100000

per_cap_1940.to_csv('../data/processed/correct_dtypes_merged_fcc_census_1940.csv', index=False)

In [114]:
cap_1950= pd.read_csv('../data/processed/correct_dtypes_merged_fcc_census_1950.csv')

cap_1950['radio_per_100k']= (cap_1950['total_radio']/cap_1950['Population_1950'])*100000

cap_1950.to_csv('../data/processed/correct_dtypes_merged_fcc_census_1950.csv', index=False)